body {
    background-color: var(--offwhite);
    color: var(--black);
}

header {
    mix-blend-mode: exclusion;
    color: var(--white);
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

::selection {
    color: var(--white);
    background-color: var(--black);
}

main {
    background: var(--offwhite);
}

video {
  margin: 25px 0;
}

.blur {
    text-shadow: var(--blur-text-shadow) rgba(0, 0, 0, var(--blur-text-opacity));
}