---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
import Text from '../components/Text.astro';
import Img from '../components/Img.astro';
import WorkItem from '../components/WorkItem.svelte';
---

<Layout title="nikhilmisra.com">
    <div class="bodyWrapper">
        <Header client:idle>
            <span slot="bio">
                <Text>
                    My name is Nikhil Misra. I'm a designer and artist focusing
                    on design systems, identities, editorial, interaction, and
                    interesting ideas.
                </Text>
            </span>
            <span slot="expanded-bio">
                <Text indented="{true}">
                    Currently, I am a Product Designer at
                    <a class="underlined" href="https://www.hearst.com/newspapers"
                        >Hearst Newspapers</a
                    >. Previously I was with the very talented people at
                    <a class="underlined" href="https://oak.is/">Oak Studios</a>. I hold an MPS in
                    Communication Design from Parsons School of Design and a BFA
                    in Graphic Design from SUNY Purchase College. I also
                    participated in the
                    <a class="underlined" href="http://www.typographysummerschool.org/"
                        >Typography Summer School</a
                    >
                    program in London.
                </Text>
                <Text indented="{true}">
                    You can usually find me taking photos,
                    <a class="underlined" href="https://www.are.na/nikhil-misra/tracks-for-life"
                        >music</a
                    >, or learning something new. These days I spend time
                    learning generative image making, type design, and making
                    music.
                </Text>
                <Text indented="{true}">
                    I also spend time thinking about alternative education
                    models and how to make creative careers more accessible to
                    BIPOC youth. If you are interested in talking about that,
                    please reach out.
                </Text>
            </span>
            <span slot="about">
                <p>
                    Typeset in Gerstner Programm by
                    <a class="underlined" href="https://forgotten-shapes.com/">Forgotten Shapes</a
                    >.
                </p>
                <p>
                    Designed and developed by me along with
                    <a class="underlined" href="https://github.com/OleSkaar">Ole Skaar</a>.
                </p>
                <p>Last Updated: January 12th, 2021</p>
            </span>
            <span slot="links">
                <p>(B.1991), raised, and living in New York.</p>
                <p>Catch me elsewhere:</p>
                <p>
                    <a class="underlined" href="/">Email</a>, <a class="underlined" href="/">Instagram</a>, <a
                        class="underlined" href="/">Are.na</a
                    >,
                    <a class="underlined" href="/">LinkedIn</a>
                </p>
            </span>
        </Header>

        <ul class="work">
            <WorkItem
                project={{
                    title: 'Goods',
                    url: '/work/goods',
                    keywords: 'Design System, Reader Experience',
                    year: '2019 - Present',
                }}
                client:idle
            >
                <Img
                    src={import('../images/goods/goodsmockup.png')}
                    alt="Goods mockup"
                />
            </WorkItem>
            <WorkItem
                project={{
                    title: 'Unfold',
                    url: '/work/unfold',
                    keywords: 'Identity, Design, System',
                    year: '2018',
                    videoId: 'unfold',
                }}
                client:idle
            >
                <video id={'unfold'} loop muted src={'/video/unfoldwebsite.mp4'}
                ></video>
            </WorkItem>
            <WorkItem
                project={{
                    title: 'Is The New York Dream Still Real?',
                    url: '/work/inydsr',
                    keywords: 'Data Visualization, Installation, AR',
                    year: '2017',
                }}
                client:idle
            >
                <Img
                    src={import('../images/itnydsr/showcase.jpg')}
                    alt="INYDSR showcase"
                />
            </WorkItem>
            <WorkItem
                project={{
                    title: 'Misc.',
                    url: '/work/inydsr',
                    keywords: 'Posters, Typefaces In Progress',
                    year: '2016 - ???',
                }}
                client:idle
            >
                <Img
                    src={import('../images/posters/lordraja_forwebsite.png')}
                    alt="Lord Raja poster"
                />
            </WorkItem>
        </ul>
    </div>

    <style>
        body {
            background-color: var(--black);
            color: var(--white);
            overflow: hidden;
        }

        .bodyWrapper {
            padding: 25px;
        }

        .work {
            margin-top: 100px;
        }

        .work :global(a) {
            transition: filter 0.1s;
        }

        .work.hover :global(a) {
            opacity: 0.5;
            filter: blur(3px);
        }

        .work :global(a:hover) {
            opacity: 1;
            filter: unset;
        }

        
    </style>
</Layout>
