---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
import Text from '../components/Text.astro';
import WorkItem from '../components/WorkItem.astro';
import { getWork } from '../utils/get-work';

const work = await getWork();
---

<Layout title="nikhilmisra.com">
    <div class="container">
        <Header client:idle>
            <span slot="bio">
                <Text>
                    Nikhil Misra is an interactive and graphic designer focusing on design systems, editorial, and typographic projects.
                </Text>
            </span>
            <span slot="expanded-bio">
                <Text indented="{true}">
                    Currently I'm a freelance designer and art director with <a
                        class="underlined"
                        href="https://commercialtype.com/">Commercial Type</a>. Previously I was at <a class="underlined"
                        href="https://www.hearst.com/newspapers">Hearst</a> and <a class="underlined" href="https://oak.is/">Oak Studios</a>. 
                        I hold an MPS in Communication Design from Parsons School of Design and a BFA in Graphic Design from SUNY Purchase College.
                </Text>
                <Text indented="{true}">
                    You can usually find me taking photos of mirrors on the street, <a class="underlined" href="https://www.nts.live/shows/sonika/episodes/sonika-7th-march-2022npm">digging for music</a>, or learning something new. These days I spend time learning type design
                    and music production.
                </Text>
            </span>
            <span slot="about">
                <p>
                    Typeset in Focal by <a class="underlined" href="https://commercialtype.com/"> Greg Gazdowicz at Commercial Type</a>.
                </p>
                <p>
                    Designed and developed by me along with
                    <a class="underlined" href="https://github.com/OleSkaar">Ole Skaar</a>.
                </p>
                <p>Last Updated: December 2, 2023</p>
            </span>
            <span slot="links">
                <p>(B.1991), raised, and living in New York.</p>
                <br />
                <p>Other Spaces:</p>
                <p>
                    <a class="underlined" href="mailto:hello@nikhilmisra.com">Email</a>, <a
                        class="underlined"
                        href="https://www.instagram.com/nikhilmis/">Instagram</a
                    >, <a class="underlined" href="https://www.are.na/nikhil-misra">Are.na</a>,
                    <a class="underlined" href="https://www.linkedin.com/in/nikhil-misra-41315151/"
                        >LinkedIn</a
                    >
                </p>
            </span>
        </Header>

        <ul class="work">
            {work.map((workItem) => <WorkItem workItem={workItem} />)}
        </ul>
    </div>

    <style>
        body {
            background-color: var(--black);
            color: var(--white);
            overflow-x: hidden;
        }

        .container {
            padding: 25px;
        }

        .work {
            margin-top: 100px;
        }

        .work :global(a) {
            transition: filter 0.1s;
        }

        .work.hover :global(a) {
            opacity: 0.5;
            filter: blur(3px);
        }

        .work :global(a:hover) {
            opacity: 1;
            filter: unset;
        }

        video {
            max-width: 1100px;
        }
    </style>
</Layout>
