<p>
    <mechanical-ragger>
        <slot />
    </mechanical-ragger>
</p>

<style>
    p {
        font-size: 16px;
        max-width: 50ch;
        margin: 16px 0 var(--margin-space) 0;
    }
</style>
