---
const projects = await Astro.glob('../pages/work/*.mdx');
---

<footer>
    <nav>
        {
            projects.map((project) => {
                return <a href={project.url}>{project.frontmatter.title}</a>;
            })
        }
    </nav>
</footer>

<style>
    footer {
        background-color: var(--black);
        color: var(--white);
        min-height: 250px;
        margin-top: 25px;
        padding: 50px 0 50px 25px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
</style>
