---
import { getWork } from "../utils/get-work";

const work = await getWork();
---

<footer>
    <nav>
        {
            work.map((workItem) => {
                return <a href={`/work/${workItem.slug}`}>{workItem.data.title}</a>;
            })
        }
    </nav>
</footer>

<style>
    footer {
        background-color: var(--black);
        color: var(--white);
        min-height: 250px;
        margin-top: 25px;
        padding: 50px 0 50px var(--body-margin);
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
</style>
