---
    import { Image } from 'astro:assets';

const { src, alt } = Astro.props;
---

<div>
    {src && <Image src={src} alt={alt} />}
</div>

<style>
    div {
        width: 100%;
        padding: 50px 0 50px 0;
        display: flex;
        justify-content: center;
        background-color: var(--offwhite);
    }

    img {
        margin-bottom: 50px;
    }

    div {
        min-height: 250px;
    }
</style>
