<header>
    <div class="title">
        <a href="/">Nikhil Misra</a>
    </div>
    <div class="spacer"></div>
</header>

<style>
    header {
        display: flex;
        padding: var(--body-margin-mobile);
    }

    .title {
        display: block;
        
    }

    .title .hover-image {
      filter: invert(1) !important;
    }

    .spacer {
        flex-basis: 10;
    }

    @media only screen and (min-width: 1000px) {
      header {
        padding: var(--body-margin);
      }
    }
</style>
