---
const { title, subheading, duration } = Astro.props;
---

<div class={`container${!duration ? ' top-margin' : ''}`}>
    <section class="info">
        {title && <h1>{title}</h1>}
        {subheading && <p>{subheading}</p>}
        {duration && <p>{duration}</p>}
    </section>
    <div class="paragraph">
        <slot />
    </div>
</div>

<style>
    h1 {
        margin: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        gap: 25px;
        align-self: flex-start;
        width: 100%;
    }

    .top-margin {
      margin-top: 100px
    }

    @media only screen and (max-width: 600px) {
        .container {
            flex-direction: column;
        }
    }
</style>
