---
import SelectionBlurrer from '../components/SelectionBlurrer.svelte';

export interface Props {
    title: string;
    hideOverflow?: boolean;
}

const { hideOverflow, title } = Astro.props;

import '../global.css';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class=`${hideOverflow ? 'hideOverflow' : ''}`>
      <main>
        <slot />
        <SelectionBlurrer client:idle />
      </main>
        <script
            is:inline
            src="https://unpkg.com/@oakstudios/mechanical-ragger@0.5.0/web-component-auto-register.js"
        ></script>
    </body>
</html>

<style>
  @media only screen and (min-width: 1000px) {
      .hideOverflow {
          overflow-y: hidden;
      }
    }
</style>