---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | nikhilmisra.com`}>
    <header>
        <a class="animated-underline" href="/">Nikhil Misra</a>
    </header>

    <section class="container">
        <slot />
    </section>

    <Footer />

    <link rel="stylesheet" href="/project.css" />
</Layout>

<style>
  .container {
    margin: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>