---
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | nikhilmisra.com`}>
    <header>
        <a class="animated-underline" href="/">Nikhil Misra</a>
    </header>
    <main>
        <slot />
    </main>

    <link rel="stylesheet" href="/project.css" />
</Layout>
